{% load static %}
{% load render_bundle from webpack_loader %}

<html>
  <head>
    <meta name="viewport" content="width=device-width" />
  </head>
  <body>
    <link rel="stylesheet" type="text/css" href="{% static 'style.css' %}" />

    <ul class="title">
      <li><img src="{% static 'logo.png' %}" width="200px"/></li>
      <li><hr/></li>
      <li><b>A good trip always starts with a great planning</b>.</li>
    </ul>

    <div id="form"></div>
    {% csrf_token %}
    {% render_bundle 'main' %}
  </body>
</html>
